{% extends 'index.html' %}
{% block courses %}
	<div id="courses">
		<h1>COURSES</h1>
		<table class="table">
		    <thead>
		      <tr>
			<th>NAME</th>
			<th>CODE</th>
		      </tr>
		    </thead>
		    <tbody>
		      {% for l in list %}
			      <tr>
				<td>{{ l.name }}</td>
				<td>{{ l.code }}</td>
			      </tr>
		      {% endfor %}
		    </tbody>
		</table>
	</div>
{% endblock %}
