{% extends 'index.html' %}
{% block create %}
	<div id="courses">
		<a class="panel_item" href="/"><img src="/static/img/back.png" width="40px" /></a>
		<h1 id="create_h1">CREATE USER</h1>
		<p id="success">User created successfully</p>
		<form class="form-horizontal" role="form" method="POST">
		    {% csrf_token %}
		    <div class="form-group">
		      <div class="col-sm-10">
			<input type="text" class="form-control" name="usrname" id="text" placeholder="* Name">
		      </div>
		    </div>
		    <div class="form-group">
		      <div class="col-sm-10">
			<input type="email" class="form-control" name="email" id="text" placeholder="* E-mail">
		      </div>
		    </div>
		    <div class="form-group">
		      <div class="col-sm-10">
			<input type="text" class="form-control" name="phone" id="text" placeholder="Phone">
		      </div>
		    </div>
		    <div class="form-group">
		      <div class="col-sm-10">
			<input type="text" class="form-control" name="mobile" id="text" placeholder="Mobile phone">
		      </div>
		    </div>
		    <div class="form-group">
		      <div class="col-sm-10">
			<select class="form-control" id="status" style="width:350px;"  name="status" size="1">
				<option value="0">Inactive</option>
				<option value="1">Active</option>
			</select>
		      </div>
		    </div>
		    <div class="form-group">        
		      <div class="col-sm-offset-2 col-sm-10">
			<input type="submit" onclick="validate(event, this.form)" class="btn btn-default" value="Create" style="width:100px;">
		      </div>
		    </div>
		</form>
	</div>
{% endblock %}
