{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded">
    <title>Courses & Users</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/courses.css' %}" />
    <script src="/static/js/main.js"></script>
    <script src="/static/js/ajx.js"></script>
  </head>
  <body>
	<div id="wrap">
		<div id="menu_wrap">
			<div id="menu">
			    <a href="/">Courses & Users</a>
		            <a href="/courses/">Courses</a>
		            <a href="/users/">Users</a>
			</div>
		</div>
		{% block courses %}{% endblock %}
		{% block users %}{% endblock %}
		{% block create %}{% endblock %}		
	</div>  
  </body>
</html>
