{% extends 'index.html' %}
{% block create %}
	<div id="courses">
		<a class="panel_item" href="/"><img src="/static/img/back.png" width="40px" /></a>
		<h1 id="create_h1">UPDATE USER</h1>
		<p id="success">User updated successfully</p>
		<form class="form-horizontal" role="form" method="POST">
		    {% csrf_token %}
		    {% for l in list %}
			    <div class="form-group">
			      <div class="col-sm-10">
				<input type="hidden" id="hiddenId" value="{{ l.id }}">
				<input type="text" class="form-control" name="usrname" id="text" placeholder="* Name" value="{{ l.name }}" style="background: #8c8c8c" readonly >
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-sm-10">
				<input type="email" class="form-control" name="email" id="text" placeholder="* E-mail" value="{{ l.email }}">
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-sm-10">
				<input type="text" class="form-control" name="phone" id="text" placeholder="Phone" value="{{ l.phone }}">
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-sm-10">
				<input type="text" class="form-control" name="mobile" id="text" placeholder="Mobile phone" value="{{ l.mobile }}">
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-sm-10">
				<select class="form-control" id="status" style="width:350px;"  name="status" size="1">
					{% if l.status == 1 %}
						<option value="1">Active</option>
						<option value="0">Inactive</option>
					{% else %}
						<option value="0">Inactive</option>
						<option value="1">Active</option>
					{% endif %}
				</select>
			      </div>
			    </div>
			    <div class="form-group">        
			      <div class="col-sm-offset-2 col-sm-10">
				<input type="submit" onclick="validate(event, this.form)" class="btn btn-default" value="Update" style="width:100px;">
			      </div>
			    </div>
		    {% endfor %}
		</form>
		<div id="select_course">
		    <select class="form-control" id="myselect" style="width:350px;"  name="">
		    {% for c in course %}
                	<option name="name" value="{{ c.name }}">{{ c.name }}</option>
		    {% endfor %}
		    </select>
                    <a onclick="addCourse(this)" type="submit"><img src="/static/img/plus.png" width="30px" /></a>
            	</div>
		<span id="resp">
		
		</span>
	</div>
{% endblock %}
