{% extends 'index.html' %}
{% block users %}
	<div id="courses">
	    <div id="panel">
		<a class="panel_item" href="/users/add/"><img src="/static/img/add.png" width="40px" /></a>
		<form method="GET" class="panel_item" id="mini-search">
			<input type="submit" value="Find" id="mini-find " />
			<input type="text" name="q" value="" id="mini-search_field" />
		</form>
		<h1 class="panel_item">USERS</h1>
		<form name=usersForm method="POST" class="panel_item" id="count_form">
			{% csrf_token %}
			<select class="form-control" style="width:80px"  name=usersselect size=1 onChange="usersForm.submit();">
				<option value="">count</option>
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
			</select>
		</form>
	    </div>
		<table class="table">
		    <thead>
		      <tr>
			<th>NAME</th>
			<th>E-MAIL</th>
			<th>PHONE</th>
			<th>MOBILE</th>
			<th>STATUS</th>
			<th>ACTION</th>
		      </tr>
		    </thead>
		    <tbody>
			{% for l in list %}
			      <tr>
				<td>{{ l.name }}</td>
				<td>{{ l.email }}</td>
				<td>{{ l.phone }}</td>
				<td>{{ l.mobile }}</td>
				{% if l.status == 1 %}
				    <td>Active</td>
				{% else %}
				    <td>Inactive</td>
				{% endif %}
				<td>
				    <a href="/users/update/{{ l.id }}/"><img src="/static/img/edit.png" width="40px" /></a>
				    <a href="/users/delete/{{ l.id }}/"><img src="/static/img/delete.png" width="40px" /></a>
				</td>
			      </tr>
			{% endfor %}
		    </tbody>
		</table>
		<div id="pag">
		    <ul class="pagination">
			{% if list.has_previous %}
			    <li class="arrow"><a href="/page/{{ list.previous_page_number }}/">&laquo;</a></li>
			{% else %}  
			    <li class="arrow unavailable"><a href="">&laquo;</a></li>  
			{% endif %}
			{% for page in list.paginator.page_range %}
			    {% if page == list.number %}
				<li class="current"><a href="/page/{{ page }}">{{ page }}</a></li>
			    {% else %}
				<li><a href="/page/{{ page }}">{{ page }}</a></li>
			    {% endif %}
			{% endfor %}
			{% if list.has_next %}
			    <li class="arrow"><a href="/page/{{ list.next_page_number }}/">&raquo;</a></li>
			{% else %}
			    <li class="arrow unavailable"><a href="">&raquo;</a></li>
			{% endif %}
		    </ul>
	        </div>
	</div>
{% endblock %}
