#courses {
	display: block;
	width: 900px;
	margin: 0 auto;
}

#courses h1 {
	margin: 50px auto;
	text-align: center;
	color: #003566;
}


.table {
	color: #fff;
}
.table thead {
	background: #0059b3;
}
.table tbody {
	background: #fff;
	color: #0059b3;
}

/*****************************/

#panel {
	display: block;
	margin: 0 auto;
}

.panel_item {
	display: inline-block;
}

#count_form {
	margin-left: 300px;
}

#panel a {
	margin-right: 20px;
}

#panel h1 {
	margin-left: 115px;
	color: #003566;
}


#mini-search {
	display: inline-block;
	}
#mini-search_field {
	display: inline-block;
	height: 25px;
	width: 150px;
	border-radius: 15px;
	border: none;
	outline: none;
	background: #fff;
}
#mini-find {
	background: url(/static/img/add.png) no-repeat;
	padding: 3px 10px;
	border: none;
	outline: none;
	cursor: pointer;
}

/*****************************************/

#pag {
	display: block;
}

.pagination {
	margin-left: 350px;
}

.pagination .arrow a {
	background: #40bf40;
	color: #fff;	
}
.pagination li a:last-child {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.pagination li a:first-child {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.pagination .arrow a:hover {
	background: #2d862d;
	color: #fff;
}

.pagination .unavailable a {
	color: #fff;
	background: #f2f2f2;	
}
.pagination .unavailable a:hover {
	color: #fff;
	background: #f2f2f2;
}

.pagination .current a {
	color: #40bf40;	
}
.pagination .current a:hover {
	color: #2d862d;	
}

.pagination li a {
	margin: 0 5px 0 5px;
	color: #595959;	
	border-radius: 15px;
}
.pagination li a:hover {
	color: #595959;	
}

/*****************************************/

#courses .form-horizontal {
	width: 350px;
	margin: 0 0 0 230px;
}

#courses .form-horizontal input {
	border-radius: 15px;
	width: 350px;
}
#courses .form-horizontal select {
	border-radius: 15px;
}

#courses #create_h1 {
	margin-right: 100px;
}

#courses .btn-default {
	float: right;
	background: #40bf40;
	border-radius: 15px;
	color: #fff;
}
#courses .btn-default:hover {
	background: #2d862d;
}

#courses #success {
	display: none;
	width: 180px;
	color: #40bf40;
	background: #fff;
	padding: 5px;
	border: 1px solid;
	border-radius: 15px;
}

#courses #create_h1 {
	display: inline-block;
	margin-left: 230px;
}

.error input {
	border: 1px solid red;
}

.error {
	color: red;
}


/*********************************************/

#select_course {
	margin-left: 230px;
	width: 400px;
}

#select_course select {
	border-radius: 15px;
	float: left;
}

#select_course a {
	margin: 0;
}

#select_course a:hover {
	cursor: pointer;
}

