body {
	background: #eee;
}

#wrap {
	display: block;
	background: #eee;
	
}

#menu_wrap {
	display: block;
	background: #003566;
}
#menu {
	width: 900px;
	margin: 0 auto;
}
#menu a {
	display: inline-block;
	padding: 10px 0;
	color: #fff;
	text-decoration: none;
}
#menu a:nth-child(2), a:last-child {
	float: right;	
	margin-left: 20px;
}
